<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-almex-nfc" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
   <name>AlmexNFC</name>
   <js-module name="AlmexNFC" src="www/AlmexNFC.js">
      <clobbers target="cordova.plugins.AlmexNFC" />
   </js-module>

   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="AlmexNFC">
            <param name="ios-package" value="AlmexNFC" />
         </feature>
      </config-file>
      <source-file src="src/ios/AlmexNFC.swift" />
   </platform>

   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="AlmexNFC">
            <param name="android-package" value="cordova-plugin-almex-nfc.AlmexNFC" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml"></config-file>
      <source-file src="src/android/AlmexNFC.java" target-dir="src/cordova-plugin-almex-nfc/AlmexNFC" />
   </platform>
</plugin>